@import "vendor/normalize";
@import "partials/_variables";

.section-hero {background-size: contain;
    background-position: center;
    min-height: 60vh;
	display: flex;
    justify-content: center;
    align-items: center;}

.heading {margin-bottom: 200px;
text-align: center;
margin: 0;
	background: #ececec;
	
}

.grd-parent {display: grid;
grid-template-rows: 100px 100px;}

h1 {font-size: 78;
	background: #ffb3d9;
color:#4d2800;
font-family: "Times New Roman", Times, serif;
}

h4 {background: #e6ffff;
	margin: 0;
	color:#4d2800;
font-size: 24;}
h3 {font-size: 38;
	color:#4d2800;}
h5 {font-size: 20}
nav {font-size: 20;
color:#4d2800;}
footer {
	font-size: 15;
color: #4d2800;}
p {font-size: 20;}
img {max-width: 480px
}
div {
	padding-top: 50px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 80px;
  }
  .hide {display: none;}
  .color {color: red;}